pkgbase = qtcam-git
	pkgdesc = A free, Open Source Linux Webcamera Software with more than 10 image control settings
	pkgver = r16.caa7d6a
	pkgrel = 1
	url = http://www.e-consystems.com/opensource-linux-webcam-software-application.asp
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = qtchooser
	depends = qt5-declarative
	depends = ffmpeg
	depends = libusb
	depends = perl
	source = git://github.com/alexzk1/qtcam.git
	source = qtcam.desktop
	sha256sums = SKIP
	sha256sums = e185af699a218115b5b2b3223d6989e5abcb56293f3e19c4e57308a460c86834

pkgname = qtcam-git-fork-2016

